@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="text" class="form-label">Id:</label>
  <input type="number" class="form-control" id="Id" name="Id" placeholder="Id">
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" Nombre="Nombre" name="Nombre" placeholder="Nombre">
  <label for="Ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" Ciudad="Ciudad" name="Ciudad" placeholder="Ciudad">
<label for="Pais" class="form-label">Pais:</label>
  <input type="text" class="form-control" Pais="Pais" name="Pais" placeholder="Pais">
  <label for="Coord.X" class="form-label">Coord.X:</label>
  <input type="number" class="form-control" Coord.X="Coord.X" name="Coord.X" placeholder="Coord.X">
  <label for="Coord.Y" class="form-label">Coord.Y:</label>
  <input type="number" class="form-control" Coord.Y="Coord.Y" name="Coord.Y" placeholder="Coord.Y">

  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>